#{extends 'main.html' /}
#{set title:'Admin' /}

<section class="ui raised segment">
  <header class="ui header">
    Member List
  </header>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Member</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <div class="ui bulleted list">
      #{list items:memberList, as:'member'}
        <tr>
          <td> ${member.name} </td>
          <td> <a href="/admin/${member.id}/deleteMember " class="ui tiny red button"> Delete</a> </td>
        </tr>
      #{/list}
    </div>
    </tbody>
  </table>

</section>