#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui raised segment">

  <header class="ui header">

    <div align="center" class="ui horizontal segments">

      <div class="ui segment">
        <img class="ui image" src="/public/images/member_icon.png" width="80px" height="80px">
        <h3>${member.name}</h3>
      </div>

      <div class="ui segment">
        <img class="ui image" src="/public/images/heart.webp" width="80px" height="80px">
        <h3>BMI: ${member.BMI}</h3>
      </div>

      <div class="ui segment">
        <img class="ui image" src="/public/images/doctor.png" width="80px" height="80px">
        <h3>Result: ${member.BMIResult}</h3>
      </div>

    </div>

  </header>

  <form class="ui stacked segment form" action="/dashboard/addAssessment" method="POST">
    <div class="three fields">

      <div class="field">
        <label>Weight (kg)</label>
        <input placeholder="0" type="text" name="weight">
      </div>

      <div class="field">
        <label>Chest (cm)</label>
        <input placeholder="0" type="text" name="chest">
      </div>

      <div class="field">
        <label>Thigh (cm)</label>
        <input placeholder="0" type="text" name="thigh">
      </div>
    </div>

    <div class="three fields">

      <div class="field">
        <label>Upper Arm (cm)</label>
        <input placeholder="0" type="text" name="upperArm">
      </div>

      <div class="field">
        <label>Waist (cm)</label>
        <input placeholder="0" type="text" name="waist">
      </div>

      <div class="field">
        <label>Hips (cm)</label>
        <input placeholder="0" type="text" name="hips">
      </div>

    </div>

    <button class="ui blue submit button">Add Assessment</button>

  </form>

    <table class="ui celled table">
      <thead align="center">
      <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Comment</th>
      </tr>
      </thead>

  <tbody>
  <div class="ui bulleted list">
    #{list items:assessmentList, as:'assessment'}
    <tr align="center">
      <td> ${assessment.weight} </td>
      <td> ${assessment.chest} </td>
      <td> ${assessment.thigh} </td>
      <td> ${assessment.upperArm} </td>
      <td> ${assessment.waist} </td>
      <td> ${assessment.hips} </td>
      <td> ${assessment.comment} </td>
    </tr>

      #{/list}
  </div>
  </tbody>

  </table>

</section>